// Basics
$base: 16 !default
$unit: rem

// Colors
$black: #222222 !default

$linkcolor: #008296 !default
$linkcolor-hover: #00ff00 !default
$linkcolor-visited: #ff0000 !default

$fontcolor-body: $black !default
$fontcolor-heading: $black !default

// Fonts
$fontsize-body: $base !default
$fontfamily-body: Arial !default

// Backgrounds
$bgpage: #fff !default

// Widths
$containerwidth: 1010 !default
$gutter: 20 !default
$gutter-tablet: $gutter / 2
$gutter-mobile: $gutter / 2
$gutter-mobile-small: $gutter * 0.5

/* ### Breakpoint definitions */
@media screen and (max-width: 400px)
  @viewport
    width: 320px

$desktop: 1100px

$tablet-large: 880px
$tablet-medium: 768px
$tablet-small: 700px

$mobile-large: 668px
$mobile-medium: 450px
$mobile-small: 320px