// Basics
$base: 16 !default
$unit: rem

// Colors
$black: #222222 !default

// Backgrounds
$bgpage: #fff !default

// Fonts
$bodyfontcolor: $black !default
$headingcolor: $black !default
$linkcolor: #008296 !default

// Fontsizes
$bodyfontsize: $base !default

// Widths
$containerwidth: REM(1010) !default
$gutter: 20 !default
$guttertablet: $gutter / 2
$guttermobile: $gutter / 2
$guttermobilesmall: $gutter * 0.5

/* ### Breakpoint definitions */
@media screen and (max-width: 400px)
  @viewport
    width: 320px

$desktop: 1100px

$tablet-large: 880px
$tablet-medium: 768px
$tablet-small: 700px

$mobile-large: 668px
$mobile-medium: 450px
$mobile-small: 320px