@import mixins
@import variables_default
@import functions
*
  +vendor-prefix("box-sizing", "border-box")

html
  font-size: 100% // Avoid using px value as it breaks usability-zooming
  height: 100%
  outline: none

body
  font-size: $base + px
a
  outline: none

.alignright
  float: right

@import structure

// The following is an example how to use the functions and mixins. See readme for more info
div.testtest
  width: REM(20)
  background: RGBA(#000, 0.9)
  +calcwidth(30%, REM($gutter))
  +vendor-prefix("box-sizing", "border-box")