/* ### Breakpoint definitions */
@media screen and (max-width: 400px) {
  @viewport {
    width: 320px; } }
* {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  height: 100%;
  outline: none; }

body {
  font-size: 16px;
  font-family: Arial;
  background-color: #fff; }

a {
  outline: none;
  color: #008296;
  text-decoration: none; }
  a:link {
    color: #008296; }
  a:hover {
    color: #00ff00;
    text-decoration: underline; }
  a:visited {
    color: #ff0000; }
  a img {
    border: none;
    float: left; }

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: none; }

iframe {
  max-width: 100%; }
  article[role="main"] iframe {
    width: 100%; }

.alignright {
  float: right; }

.container {
  margin: auto;
  width: 100%;
  max-width: 64.375rem;
  float: none !important; }
  .container.hero {
    max-width: 100%; }

[role="group"] {
  float: left;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  width: calc(100% - 1.25rem); }
  @media screen and (max-width: 880px) {
    [role="group"] {
      width: calc(100% - 0.625rem); } }
  @media screen and (max-width: 668px) {
    [role="group"] {
      width: calc(100% - 0.625rem); } }
  @media screen and (max-width: 880px) {
    [role="group"] {
      margin-left: 0.3125rem;
      margin-right: 0.3125rem; } }
  @media screen and (max-width: 668px) {
    [role="group"] {
      margin-left: 0.3125rem;
      margin-right: 0.3125rem; } }
  [role="group"]:not(.container) {
    margin-bottom: 2.5rem; }
    @media screen and (max-width: 880px) {
      [role="group"]:not(.container) {
        margin-bottom: 1.25rem; } }
    @media screen and (max-width: 668px) {
      [role="group"]:not(.container) {
        margin-bottom: 1.25rem; } }
  [role="group"].nomargin:not(.container) {
    margin: 0; }

main {
  overflow: hidden;
  padding-top: 1.25rem;
  margin-top: 0.625rem; }
  @media screen and (max-width: 668px) {
    main {
      margin-top: 0.625rem; } }

.row {
  float: left;
  width: 100%;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 880px) {
    .row {
      margin-bottom: 0.625rem; } }
  @media screen and (max-width: 668px) {
    .row {
      margin-bottom: 0.625rem; } }
  .row:last-child:not([role="group"]) {
    margin-bottom: 0; }

.col {
  float: left;
  clear: none;
  margin-left: 0.625rem;
  margin-right: 0.625rem; }
  @media screen and (max-width: 880px) {
    .col {
      margin-left: 0.625rem;
      margin-right: 0.625rem; } }
  @media screen and (max-width: 668px) {
    .col {
      margin-left: 0.625rem;
      margin-right: 0.625rem; } }
  @media screen and (max-width: 320px) {
    .col {
      margin-left: 0.625rem;
      margin-right: 0.625rem; } }
  .col > .col.span100 {
    width: 100%; }
  .col:last-child {
    float: right; }
    .col:last-child.last {
      float: left; }
  .col:only-child {
    float: left; }
  .col.nomargin {
    margin: 0; }
  .col.hero {
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
  .col .inner {
    width: 100%;
    height: auto; }

@media screen and (max-width: 880px) {
  article.col[role=main] {
    width: calc(60% - 1.25rem); } }
@media screen and (max-width: 668px) {
  article.col[role=main] {
    width: calc(100% - 1.25rem);
    margin-bottom: 0.625rem; } }
@media screen and (max-width: 320px) {
  article.col[role=main] {
    width: calc(100% - 1.25rem); } }

@media screen and (max-width: 880px) {
  aside.col[role=complementary] {
    width: calc(40% - 1.25rem); } }
@media screen and (max-width: 668px) {
  aside.col[role=complementary] {
    width: calc(100% - 1.25rem); } }
@media screen and (max-width: 320px) {
  aside.col[role=complementary] {
    width: calc(100% - 1.25rem); } }

.span5 {
  width: calc(5% - 1.25rem); }

.span10 {
  width: calc(10% - 1.25rem); }

.span15 {
  width: calc(15% - 1.25rem); }

.span20 {
  width: calc(20% - 1.25rem); }

.span25 {
  width: calc(25% - 1.25rem); }

.span30 {
  width: calc(30% - 1.25rem); }

.span33 {
  width: calc(33.33333% - 1.25rem); }
  @media screen and (max-width: 880px) and (min-width: 451px) {
    .span33 {
      width: calc(50% - 1.25rem); } }

.span35 {
  width: calc(35% - 1.25rem); }

.span40 {
  width: calc(40% - 1.25rem); }

.span45 {
  width: calc(45% - 1.25rem); }

.span50 {
  width: calc(50% - 1.25rem); }

.span55 {
  width: calc(55% - 1.25rem); }

.span60 {
  width: calc(60% - 1.25rem); }

.span65 {
  width: calc(65% - 1.25rem); }

.span66 {
  width: calc(66.66667% - 1.25rem); }

.span70 {
  width: calc(70% - 1.25rem); }

.span75 {
  width: calc(75% - 1.25rem); }

.span80 {
  width: calc(80% - 1.25rem); }

.span85 {
  width: calc(85% - 1.25rem); }

.span90 {
  width: calc(90% - 1.25rem); }

.span95 {
  width: calc(95% - 1.25rem); }

.span100 {
  width: calc(100% - 1.25rem);
  margin-left: 0.625rem;
  margin-right: 0.625rem; }

/* #### Lines */
.col.line {
  margin-bottom: 2.5rem; }

.line {
  border: #EBEBEB solid;
    border-width: 0rem 0rem 0.00781rem 0rem; }

.thin {
  border: #EBEBEB solid;
    border-width: 0rem 0rem 0.00391rem 0rem; }

.thick {
  border: #EBEBEB solid;
    border-width: 0rem 0rem 0.01563rem 0rem; }

.linedark {
  border-color: #cccccc; }

.linewhite {
  border-color: #ffffff; }

.top {
  border: #EBEBEB solid;
    border-width: 0.00781rem 0rem 0rem 0rem; }

.border {
  border: #EBEBEB solid;
    border-width: 0.00781rem 0.00781rem 0.00781rem 0.00781rem; }

.row.line {
  margin-bottom: 2.5rem; }

h1 {
  color: #222222;
  margin: 0;
  font-size: 2.5rem;
  line-height: 2.1;
  margin-bottom: 1.01563rem; }
  @media screen and (max-width: 668px) {
    html.touch h1 {
      font-size: 2.5rem;
      line-height: 2.6; } }

h2 {
  color: #222222;
  margin: 0;
  font-size: 1.875rem;
  line-height: 1.6; }
  h2.line {
    padding-bottom: 0.78125rem; }
  @media screen and (max-width: 668px) {
    html.touch h2 {
      font-size: 1.5rem;
      line-height: 1.1; } }

h3 {
  color: #222222;
  margin: 0;
  font-size: 1.1255rem;
  line-height: 1;
  margin-bottom: 1.25rem; }
  h3.line {
    padding-bottom: 0.4rem; }
  h3.row.line {
    margin-bottom: 1rem; }
  @media screen and (max-width: 668px) {
    html.touch h3 {
      font-size: 1.5rem;
      line-height: 1.25; } }

h4 {
  color: #222222;
  margin: 0;
  font-size: 0.9375rem;
  line-height: 0.8;
  margin-bottom: 1.25rem; }
  h4.line {
    margin: 0; }
  h4 .row.line {
    margin-bottom: 1.09375rem; }

h5 {
  color: #222222;
  margin: 0;
  font-size: 0.875rem;
  line-height: 0.8;
  margin-top: 1.25rem;
  margin-bottom: 0.3125rem; }
  h5.line {
    margin: 0;
    padding-bottom: 0.375rem; }
  h5:first-child {
    margin-top: 0; }

div.testtest {
  width: 1.25rem;
  background: rgba(0, 0, 0, 0.9);
  width: calc(30% - 1.25rem);
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*# sourceMappingURL=base.css.map */
