article
  p
    margin-top: 0
    line-height: 1.2
    font-size: REM(20)
  .preamble, .preamble p
    font-size: REM(28)
    line-height: 1.2
    +media-query($maxwidth: $mobile-medium)
      font-size: REM(22)
      line-height: 1.2
  blockquote
    line-height: 1.2
aside
  .post-tag
    padding: REM(5) REM(10)
    background: RGBA($tag-bg, 0.1)
    float: left
    margin: 0 REM($gutter / 2) REM($gutter / 2) 0
    +media-query($maxwidth: $tablet-large)
      margin: 0 REM($gutter-tablet-large / 2) REM($gutter-tablet-large / 2) 0
    +media-query($maxwidth: $tablet-medium)
      margin: 0 REM($gutter-tablet-medium / 2) REM($gutter-tablet-medium / 2) 0
    +media-query($maxwidth: $tablet-small)
      margin: 0 REM($gutter-tablet-small / 2) REM($gutter-tablet-medium / 2) 0
    +media-query($maxwidth: $mobile-large)
      margin: 0 REM($gutter-mobile-large / 2) REM($gutter-mobile-large / 2) 0
    +media-query($maxwidth: $mobile-medium)
      margin: 0 REM($gutter-mobile-medium / 2) REM($gutter-mobile-medium / 2) 0
    +media-query($maxwidth: $mobile-small)
      margin: 0 REM($gutter-mobile-small / 2) REM($gutter-mobile-small / 2) 0